@if(collections is not null)
{
    @if(_currentCollectionService is null){
        <h3>Collections</h3>
        @foreach(var collectionName in collections)
        {
            <p role="button" @onclick="() => SetCurrentCollectionByName(collectionName)">@collectionName</p>
        }
        <button @onclick="Back">Back</button>
    }
    else
    {
        <MongoCollection
            Service="_currentCollectionService"
            OnBackClicked="ClearCollection"
        />
    }
}

@code {
    [Parameter]
    public IMongoDatabaseService Service { get; set; } = null!;
    [Parameter]
    public EventCallback OnBackClicked { get; set; }
    private List<string>? collections;
    private IMongoCollectionService? _currentCollectionService => Service.CurrentCollectionService;

    public async Task<List<string>> GetCollectionsAsync() => await Service.GetCollectionNamesAsync();

    protected async override Task OnInitializedAsync()
    {
        collections = await GetCollectionsAsync();
    }
    public async Task Back()
    {
        await OnBackClicked.InvokeAsync();
    }
    private void SetCurrentCollectionByName(string collectionName)
    {
        Service.SetCurrentCollectionServiceByName(collectionName);
        StateHasChanged();
    }
    public void ClearCollection()
    {
        Service.ResetCollection();
        StateHasChanged();
    }
}
