@using Newtonsoft.Json.Linq
@if(collection is not null)
{
    <h3>Items</h3>
    @collection
    <button @onclick="Back">Back</button>
}
@code {
    [Parameter]
    public IMongoCollectionService Service { get; set; } = null!;
    [Parameter]
    public EventCallback OnBackClicked { get; set; }
    private JArray? collection;
    public async Task<JArray> GetAllItemsAsync() => await Service.GetAllItemsAsJSONAsync();

    protected async override Task OnInitializedAsync()
    {
        collection = await GetAllItemsAsync();
    }

    public async Task Back()
    {
        await OnBackClicked.InvokeAsync();
    }
}
