@if(_currentDB is null)
{
    <h3>Databases</h3>
    <div>
        @if(dbs is not null)
        {
            foreach(var db in dbs)
            {
                <p
                    @onclick="()=>SetCurrentDBByName(db)"
                    role="button"
                >
                    @db
                </p>
            }
        }
    </div>
}
@if(_currentDB is not null)
{
    <MongoDatabase
        Service="_currentDB"
        OnBackClicked="ClearDB"
    />
}

@code {
    [Parameter]
    public MongoContainerService Service { get; init; } = null!;
    public IList<string>? dbs { get; set; }
    private IMongoDatabaseService? _currentDB => Service.CurrentDatabaseService;

    protected async override Task OnInitializedAsync()
    {
        dbs = await GetDBNames();
    }

    private async Task<IList<string>> GetDBNames()
    {
        var list = await Service.GetDatabasesAsync();
        return list;
    }

    private void SetCurrentDBByName(string dbName)
    {
        Service.SetCurrentDBByName(dbName);
        StateHasChanged();
    }
    public void ClearDB()
    {
        Service.ResetDB();
        StateHasChanged();
    }
}


