@foreach(var collection in GetCollections().Result)
{
    <p>@collection</p>
}
<button @onclick="Back">Back</button>

@code {
    [Parameter]
    public MongoDatabaseService Service { get; set; }
    [Parameter]
    public EventCallback OnBackClicked { get; set; }

    public async Task Back()
    {
        await OnBackClicked.InvokeAsync();
    }
    public async Task<List<string>> GetCollections() => await Service.DumpCollectionNames();
}
