@if(collection is not null)
{
    <h3>Items</h3>
    @foreach(var item in collection)
    {
        <p role="button">@item.ToString()</p>
    }
    <button @onclick="Back">Back</button>
}
@code {
    [Parameter]
    public IMongoCollectionService Service { get; set; } = null!;
    [Parameter]
    public EventCallback OnBackClicked { get; set; }
    private IList<dynamic>? collection;
    public async Task<IList<dynamic>> GetAllItemsAsync() => await Service.GetAllItemsAsync();

    protected async override Task OnInitializedAsync()
    {
        collection = await GetAllItemsAsync();
    }

    public async Task Back()
    {
        await OnBackClicked.InvokeAsync();
    }
}
