<div class="p-2">
    <table>
        <tr>
            <th class="fw-bold">
                <span class=@(GetStatus()==EContainerStatus.Reachable ? "alert-success" : "alert-warning")>
                    @name
                </span>
            </th>
        </tr>

        <tr>
            <td class="fw-bold">Type</td><td>@type</td>
        </tr>

        @foreach(var item in table.Table)
        {
            <tr>
                <td class="fw-bold">@item.Key</td><td>@item.Value.Value</td>
            </tr>
        }
    </table>
</div>

@code{
    [Parameter]
    public IContainerService Service { get; set; } = null!;

    private string name => Service.GetSettings().Name;
    private string type => Service.GetSettings().ContainerType.ToString();
    private ContainerVariableTable table => Service.GetSettings().VariableTable;
    private EContainerStatus GetStatus()
    {
        return Service.GetStatus();
    }
}