@page "/"
@inject IConfiguration configuration
@inject IContainerSettingsService containerSettingsService

<PageTitle>Index</PageTitle>

<button @onclick="Test">test</button>
@output

@code{
    private string output;
    public void Test()
    {
        output = containerSettingsService.DumpContainerSettingsInfo();
    }
}