@page "/"
@inject IConfiguration configuration
@inject IContainerSettingsService containerSettingsService

<PageTitle>Index</PageTitle>

<button @onclick="Test">test</button>

@code{

    public void Test()
    {
        Console.WriteLine(containerSettingsService);
    }
}