@page "/"
@inject IContainerRegistryService containerRegistry
@inject NavigationManager uriHelper

<PageTitle>Index</PageTitle>

@if(list is not null)
{
    @foreach(var item in list)
    {
        <div 
            @onclick="() => OnClickContainerSummary(item)"
            class="border border-secondary mb-2"
            role="button"
        >
            <ContainerSummary
                Service="item"
            />
        </div>
    }
}

@code
{
    private IList<IContainerService> list = null!;

    protected override void OnInitialized()
    {
        list = containerRegistry.ServiceList.List;
    }

    private void OnClickContainerSummary(IContainerService item)
    {
        var name = item.ContainerSettings.Name;
        uriHelper.NavigateTo($"Container/{name}");
    }

}