@page "/"
@inject IContainerRegistryService containerRegistry

<PageTitle>Index</PageTitle>

<button @onclick="Test">test</button>
@if(list is not null)
{
    foreach(var item in list)
    {
        <table>
            <tr>
                <td>@item.ContainerSettings.Name</td><td>@item.ContainerSettings.ContainerType</td>
            </tr>
        </table>
    }
}

@code{
    private IList<IContainerService> list = null!;
    public void Test()
    {
        list = containerRegistry.ServiceList.List;
    }
}